nav {
    text-align: center;
    height: 100px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    img {
        height: 50px;
    }
    ul {
        list-style: none;
        li {
            display: inline-block;
            line-height: 50px;
            padding: 0 20px;
            a {
                color: black;
            }
        }
        li:not(:last-of-type){
            margin-right: 20px;
        }
        li.active {
            background-color: darken(lightblue, 10%);
        }
    }
}